{% extends "parent/base.html" %}
{% load blog_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/blog/Home/Home.css' %}">
{% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}

<main>
    <div class="hero">
        <div class="container">
            <div class="left">
                <h1 class="h1">
                    Hello, and welcome to the <b>Quantoris</b> blog...
                </h1>
                <p class="h3">Quantoris: A powerful tool for building and managing your blog.</p>
                <div class="btn-group">
                    <a href="{% url 'blog:post_list' %}" class="btn btn-primayr">List of blogs</a>
                    <a href="#" class="btn btn-secondary">About Us</a>
                </div>
            </div>

            <div class="right">
                <div class="pattern-bg"></div>
                <div class="img-box">
                    <img src="{% static 'images/author.png' %}" alt="user" class="hero-img">
                    <div class="shape shape1"></div>
                    <div class="shape shape2"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <section class="home-wrapper">
            {% latest_posts %}

            {% popular_posts %}

            {% active_author %}

        </section>
    </div>
</main>

{% endblock %}

