{% extends "parent/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/registration/register.css' %}">
{% endblock %}
{% block title %}Register{% endblock %}
{% block content %}
<main>
    <div class="main">
        <div class="container-form-register">
            <form method="POST" class="form-register">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-form-register">Register</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}