.hero {
    background-color: var(--bg);
    padding-top: 2rem;
    padding-bottom: var(--padding-y);
    text-align: center;
}

.hero b {
    color: var(--ac);
    font-weight: inherit;
}

.hero .h1 {
    margin-bottom: 1rem;
    line-height: 1.6;
}

.hero .h3 {
    color: var(--fg2);
    margin-bottom: 2rem;
}

.hero .btn-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
}

.hero .right {
    display: none;
}

.btn {
    min-width: 10rem;
    border-radius: 180px;
}

.btn-primayr {
    background-color: var(--ac);
    color: var(--white);
    padding: 0.7rem 1.2rem;
    transition: 0.5s;
}

.btn-primayr:hover {
    background-color: var(--fg2);
    color: var(--act);
}

.btn-secondary {
    background-color: var(--act2);
    color: var(--fg2);
    padding: 0.5rem 1rem;
    border: 3px solid var(--fg3);
    transition: 0.5s;
}

.btn-secondary:hover {
    border-color: var(--ac);
}

@media (min-width: 1024px) {
    .hero {
        text-align: right;
    }

    .hero .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 50px;
    }

    .hero .btn-group {
        justify-content: start;
        gap: 30px;
    }

    .hero .right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero .pattern-bg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 200px;
        background-size: contain;
        opacity: 0.2;
    }

    .img-box {
        position: relative;
        z-index: 2;
    }

    .hero .shape {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -42%) rotate(-28deg);
    }

    .hero .shape1 {
        background: var(--ac);
        width: 90%;
        height: 90%;
        z-index: -1;
    }

    .hero .shape2 {
        width: 92%;
        height: 92%;
        z-index: 2;
    }

    .hero-img {
        width: 90%;
        height: 90%;
        object-fit: contain;
        border-radius: 0 0 280px 280px;
        transform: translate(10px, -10px);
    }
}
